* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button, select, input {
    border: none;
    border-radius: 5px;
}

.main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.content {
    min-height: 100dvh;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 20px;
}

.shooter-logo {
    width: 200px;
    height: 150px;
}

.main-menu input {
    width: 250px;
    height: 30px;
    background-color: rgb(235, 235, 235);
    padding: 0 10px;
}



.main-menu select {
    width: 250px;
    height: 30px;
    padding: 2px 10px;
}

img {
    width: 75px;
}

.guns-selection {
    display: flex;
    gap: 20px;
    width: fit-content;
}

.guns-selection input {
    width: fit-content;
}

.targets-selection input {
    width: fit-content;
}

.targets-selection {
    display: flex;
    gap: 15px;
    width: fit-content;
}

.selection {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
}

.instruction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(154, 99, 9, 0.544);
    color: white;
    padding: 25px 25px;
    max-width: 400px;
    border-radius: 5px;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.instruction p {
    font-size: 22px;
    margin: 0;
}

.instruction li {
    font-size: 18px;
}

.instruction .close-container button {
    background-color: rgba(255, 255, 255, 0.862);
    border-radius: 50px;
    width: 25px;
    height: 25px;
    box-shadow: none;
    border: none;
}

#buttons-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
}

#buttons-container button {
    height: 30px;
}

#play-button {
    flex: 1;
    background-color: chartreuse;
}

#instruction-button {
    flex: 1;
    background-color: rgb(255, 78, 51);
}


